<link rel="icon" type="image/svg+xml" sizes="any" href="{{ .Site.Params.faviconSVG | default "/favicons/favicon.svg" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon_32 | default "/favicons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon_16 | default "/favicons/favicon-16x16.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ .Site.Params.touchicon | default "/favicons/apple-touch-icon.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.touchicon | default "/favicons/apple-touch-icon.png" | relURL }}">
<link rel="manifest" href="{{ .Site.Params.manifest | default "/favicons/site.webmanifest" | relURL }}">