.emgithub-container {
  font-size: 12px;
}

.emgithub-container table,
.emgithub-container table th,
.emgithub-container table td,
.gist table,
.gist table th,
.gist table td {
  border: 0;
  background-color: initial;
}

.emgithub-container .hljs-ln-numbers {
  text-align: left !important;
}
