:root {
  --white: #fbfbfb;
  --black: #2f2f2f;
  --blue: #1565c0;

  --color-background: var(--white);
  --color-text: var(--black);
  --color-text-link: var(--blue);
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.625rem;
  margin: 0 auto;
  padding: 0;
  width: 750px;

  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue,
  Helvetica, pingfang sc, STXihei, 华文细黑, microsoft yahei, 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--color-background);
  color: var(--color-text);
}

article {
  border-bottom: 1px solid var(--color-text);
}

article > section a,
article > section a:link,
article > section a:visited {
  color: var(--color-text-link);
}

article > footer > p {
  font-size: 0.75rem;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: 600;
}

h4, h5, h6, p, ol, ul {
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p, ol, ul {
  font-size: 1rem;
  line-height: 1.375rem;
}

a,
a:link,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}