:root {
  --white: #fbfbfb;
  --black: #2f2f2f;
  --gray: #9a9a9a;
  --blue: #1565c0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin: 0;
  padding: 10px;
  width: 800px;

  font-family: Courier, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: var(--white);
  color: var(--black);
}

header {
  font-size: 18px;
}

hr {
  margin: 0;
  width: 100%;
  border: 1px solid var(--gray);
}

main > article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin: 0;
  padding: 0;
}

main > article .title {
  font-size: 18px;
}

main > article .desc {
  font-size: 13px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

p, ol, ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

a,
a:link,
a:visited,
a:hover {
  color: var(--blue);
  text-decoration: none;
}
