:root {
  --white: #fbfbfb;
  --light: #ececec;
  --black: #2f2f2f;
  --gray: #9a9a9a;
  --blue: #1565c0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 14px;
  margin: 0;
  padding: 10px;
  width: 100%;

  font-family: Courier, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: var(--white);
  color: var(--black);
}

header {
  margin: 0 auto;
  width: 800px;
  font-size: 18px;
}

hr {
  margin: 0 auto;
  width: 800px;
  border: 1px solid var(--gray);
}

main {
  margin: 0 auto;
  width: 800px;
}

main > article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  margin: 0;
  padding: 0;
}

main > article .title {
  font-size: 18px;
}

main > article .desc {
  font-size: 13px;
}

footer {
  margin: 0 auto;
  width: 800px;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

table, th, td {
  text-align: left;
  border: 1px solid var(--gray);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
}

pre {
  background-color: var(--light);
  padding: 10px;
}

a,
a:link,
a:visited,
a:hover {
  color: var(--blue);
  text-decoration: none;
}

p > code, li > code, th > code, td > code {
  padding: 0 2px;
  border-radius: 2px;
  background-color: var(--light);
}

p > strong, li > strong, th > strong, td > strong {
  font-weight: bold;
}

p > em, li > em, th > em, td > em {
  font-style: italic;
}
