@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/jetbrains-mono-regular.woff2") format("woff2"),
  url("../fonts/jetbrains-mono-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/jetbrains-mono-italic.woff2") format("woff2"),
  url("../fonts/jetbrains-mono-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/jetbrains-mono-bold.woff2") format("woff2"),
  url("../fonts/jetbrains-mono-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/jetbrains-mono-bold-italic.woff2") format("woff2"),
  url("../fonts/jetbrains-mono-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --white-pure: #ffffff;
  --white: #fbfbfb;
  --light: #ececec;
  --black: #2f2f2f;
  --gray: #cccccc;
  --blue: #1565c0;
  --wine: #c01565;

  --text: var(--black);
  --line: var(--gray);
  --link: var(--blue);
  --link-visit: var(--wine);

  font-family: "JetBrains Mono", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.8;

  background-color: var(--white);
  color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;

  margin: 0;
  padding: 0 0 1rem 0;
}

main {
  margin: 0;
  padding: 0 0 1rem 0;
}

main > article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.7rem;

  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;

  margin: 0;
  padding: 0;
}

footer ul {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;
}

footer ul > li {
  display: inline;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
  padding: 0;

  text-align: start;
  word-break: break-word;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4, h5, h6 {
  font-size: 1.25rem;
}

small {
  font-size: calc(1rem - 2px);
}

ul, ol {
  margin: 0;
  padding-left: 2rem;
}

li table, li img, li .highlight {
  margin-top: 1rem;
}

table, th, td {
  padding: 0.5rem;

  text-align: left;
  border: 1px solid var(--line);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white-pure);
  box-sizing: border-box;
  text-indent: initial;
}

pre {
  margin: 0;
  padding: 1rem;
  white-space: pre;
  overflow-x: auto;

  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  background-color: var(--light);
}

code {
  margin: 0;
  padding: 0 2px;

  font-family: "JetBrains Mono", monospace;
  background-color: var(--light);
  border-radius: 4px;
}

pre > code {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 1rem;

  background-color: var(--light);
  border-left: 4px solid var(--line);
  border-radius: 4px;
}

a, a:link {
  color: var(--link);
  text-decoration: none;
}

a:focus {
  color: var(--link-visit);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--link-visit);
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-style: none;
}

[data-icon="up"] {
  display: block;
  background: no-repeat center/100% url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzE4NzQxNjU3NzYyIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjczMCIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiPjxwYXRoIGQ9Ik0xMDI0IDUxMkMxMDI0IDc5NC43NyA3OTQuNzcgMTAyNCA1MTIgMTAyNHMtNTEyLTIyOS4yMy01MTItNTEyIDIyOS4yMy01MTIgNTEyLTUxMlMxMDI0IDIyOS4yMyAxMDI0IDUxMnpNOTYgNTEyYzAgMjI5Ljc1IDE4Ni4yNSA0MTYgNDE2IDQxNlM5MjggNzQxLjc1IDkyOCA1MTJzLTE4Ni4yNS00MTYtNDE2LTQxNlM5NiAyODIuMjUgOTYgNTEyek01NTcuMjU0IDIxMC43NDRsMjU2IDI1Ni4wMDJjMjQuOTk0IDI0Ljk5MiAyNC45OTQgNjUuNTE0IDAgOTAuNTA4LTI0Ljk5NCAyNC45OTQtNjUuNTE2IDI0Ljk5NC05MC41MSAwTDU3NiA0MTAuNTEgNTc2IDc2OGMwIDM1LjM0Ni0yOC42NTQgNjQtNjQgNjQtMzUuMzQ2IDAtNjQtMjguNjU0LTY0LTY0bDAtMzU3LjQ5LTE0Ni43NDQgMTQ2Ljc0NmMtMjQuOTk0IDI0Ljk5NC02NS41MTggMjQuOTk0LTkwLjUxMiAwQzE5OC4yNDggNTQ0Ljc1OCAxOTIgNTI4LjM3OCAxOTIgNTEyczYuMjQ4LTMyLjc1OCAxOC43NDQtNDUuMjU0bDI1Ni0yNTYuMDAyQzQ5MS43MzggMTg1Ljc1MiA1MzIuMjYyIDE4NS43NTIgNTU3LjI1NCAyMTAuNzQ0eiIgZmlsbD0iIzJmMmYyZiIgcC1pZD0iNzMxIj48L3BhdGg+PC9zdmc+");

  width: 1.5rem;
  height: 1.7rem;
}

[data-icon="bars"] {
  display: block;
  background: no-repeat center/100% url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzE4NzQxOTE4NTEzIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjczNSIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiPjxwYXRoIGQ9Ik02NCAxOTJjMC0zNS40IDI4LjYtNjQgNjQtNjRoNzY4YzM1LjQgMCA2NCAyOC42IDY0IDY0cy0yOC42IDY0LTY0IDY0SDEyOGMtMzUuNCAwLTY0LTI4LjYtNjQtNjR6IG0wIDMyMGMwLTM1LjQgMjguNi02NCA2NC02NGg3NjhjMzUuNCAwIDY0IDI4LjYgNjQgNjRzLTI4LjYgNjQtNjQgNjRIMTI4Yy0zNS40IDAtNjQtMjguNi02NC02NHogbTg5NiAzMjBjMCAzNS40LTI4LjYgNjQtNjQgNjRIMTI4Yy0zNS40IDAtNjQtMjguNi02NC02NHMyOC42LTY0IDY0LTY0aDc2OGMzNS40IDAgNjQgMjguNiA2NCA2NHoiIHAtaWQ9IjczNiIgZmlsbD0iIzJmMmYyZiI+PC9wYXRoPjwvc3ZnPg==");

  width: 1.5rem;
  height: 1.7rem;
}

#scroll-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  opacity: 0.5;
}

#menu-toggle {
  display: none;
}

.menu-button {
  display: none;
}

.menu-nav {
  display: block;
}

.menu-nav ul {
  list-style: none;

  margin: 0;
  padding: 0;
}

.menu-nav ul > li {
  display: inline;
}

@media only screen and (max-width: 640px) {
  #menu-toggle:checked + label + .menu-nav {
    display: block;

    width: 100%;
  }

  .menu-button {
    display: block;
  }

  .menu-nav {
    display: none;
  }

  .menu-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.highlight {
  overflow: hidden;

  border: 1px solid var(--line);
  border-radius: 4px;
}

.utterances {
  max-width: 100% !important;
}